* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1000;
    background-color: black;
    box-shadow: 1px 3px 3px 3px rgba(226, 226, 226, 0.349);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
}

ul {
    display: flex;
}

ul li {
    list-style: none;

}

ul li a {
    text-decoration: none;
    font-size: 20px;
    margin-inline: 20px;
    color: white;
}

.icons {
    display: flex;
    gap: 30px;
}

.icons i {
    font-size: 24px;
    color: white;
}

.main {
    display: flex;
}

.mainText {
    margin-top: 190px;
    transform: translate(-180%);

}

.mainText h1 {
    font-size: 70px;
}

.mainText p {
    margin-top: 22px;
}

.mainText button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
}

.mainText button:hover {
    border: 3px solid black;
    background-color: transparent;
    cursor: pointer;
}

.head {
    text-align: center;
    padding: 88px;
}

.mens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.womens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin-inline: 22px;
    margin-top: 22px;
}

.card img {
    width: 100%;
    height: 300px;
}

.card p {
    padding: 11px;
}

.slides {
    width: 1200px;
    height: 400px;
    background-color: black;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slideCard {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s ease;
}

.slideCard img {
    width: 300px;
    height: 300px;
    margin-inline: 20px;
    margin-top: 20px;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blogs .blogCard {
    width: 300px;
    margin-inline: 22px;
    margin-top: 22px;
    background-color: black;
    color: white;
    padding: 22px;
    text-align: center;
}

.blogCard p {
    padding: 8px;

}

.blogCard img {
    width: 100%;
    height: 300px;
}

.blogCard a {
    padding: 6px 20px;
    background-color: brown;
    color: white;
    text-decoration: none;
    top: 17px;
    position: relative;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 66px;
    margin-top: 66px;
    background-color: black;
    color: white;
}

#bar {
    display: none;
}


@media screen and (max-width:1100px) {
    ul {
        display: none;
    }

    .icons {
        display: none;
    }

    #bar {
        display: block;
        font-size: 25px;
        color: white;
    }

    .slides {
        width: 80%;
    }

    .slideCard img {
        width: 20%;

    }
}

@media screen and (max-width:600px) {
    .slideCard img {
        height: 160px;
        margin-inline: 4px;
    }

    .slides {
        height: 230px;
    }
}

@media screen and(max-width:900px) {
    .main {
        display: block;
        text-align: center;
    }

    .main img {
        width: 80%;
    }

    .mainText h1 {
        font-size: 35px;

    }

    .mainText p {
        font-size: 15px;
    }

}

@media screen and (max-width: 600px) {
    .mainText {
        text-align: center; 
    }

    .mainText h1 {
        color: white;
        font-size: 24px; 
    }

    .mainText p {
        color: white;
        font-size: 16px; 
    }
}





